body{
  font-family: "Montserrat";
}

.plateau{
  height: 800px;
  width: 500px;
  background-image: url("../img/plateau.png");
  border: solid 3px rgb(19, 19, 19);
  margin-left: 700px;
  margin-top: 67px;
  position: absolute;
}

.tabScore{
  background-color: white;
  border: solid 3px rgb(19, 19, 19);
  border-radius: 6px;
  margin:auto;
  margin-top: 20px;
  height: 150px;
  width: 400px;
}

.pays{
  background-color: rgb(0,2,30);
  border-radius: 6px;
  margin:auto;
  margin-top: 60px;
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 26px;
  color: white;
}

#valider{
  border: none;
  height: 70px;
  width: 150px;
  border-radius: 6px;
  background-color: #070516;
  color: white;
  padding: 16px 32px;
  text-align: center;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.3s;
}



.drapeau{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.drapeau div{
  height: 300px;
  width: 125px;
  border: solid 3px rgb(19, 19, 19);
}

.drapeau div {
    transition: transform 250ms;
}


.drapeau div:hover{
  cursor: pointer;
  transform: translateY(-5px);
}

.timer{
  margin-top: 55px;
  margin-left: 300px;
  position: absolute;
}

.nombreClick{
  margin-left: 170px;
  margin-top: 65px;
  position: absolute;

}

.manche{
  margin-left: 20px;
  margin-top: 65px;
  position: absolute;

}

.plateauDepart{
  height: 800px;
  width: 500px;
  background-image: url("../img/background.png");
  border: solid 3px rgb(19, 19, 19);
  margin-left: 700px;
  margin-top: 67px;
  position: absolute;
}

#commencer{
  border: none;
  height: 70px;
  width: 150px;
  border-radius: 6px;
  margin-top: 350px;
  margin-left: 170px;
  background-color: #070516;
  color: white;
  padding: 16px 32px;
  text-align: center;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.3s;
}

#commencer:hover{
  cursor: pointer;
  opacity: 1
}


#abandon{
  border: none;
  height: 70px;
  width: 150px;
  border-radius: 6px;
  background-color: #070516;
  margin-top:100px;
  margin-left: 270px;
  color: white;
  text-align: center;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.3s;
}

#abandon:hover{
  cursor: pointer;
  opacity: 1
}

#joker{
  border: none;
  height: 70px;
  width: 150px;
  position: absolute;
  border-radius: 6px;
  background-color: #070516;
  margin-top:100px;
  margin-left: 80px;
  color: white;
  text-align: center;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.3s;
}

#joker:hover{
  cursor: pointer;
  opacity: 1
}

.plateauFin{
  font-weight: bold;
  text-align: center;
  color: white;
  height: 800px;
  width: 500px;
  background-image: url("../img/background.png");
  border: solid 3px rgb(19, 19, 19);
  margin-left: 700px;
  margin-top: 67px;
  position: absolute;
}

#compterFin{
  margin-top: 300px;
  position: absolute;
  font-size: 20px;
  margin-left: 40px;

}

#clickFin{
  margin-top: 350px;
  margin-left: 150px;
  position: absolute;
  font-size: 20px;

}

#scoreFinPartie{
  margin-top: 375px;
  margin-left: 150px;
  position: absolute;
  font-size: 20px;

}

#mancheFin{
  margin-top: 400px;
  margin-left: 110px;
  position: absolute;
  font-size: 20px;
}

#rejouer{
  border: none;
  height: 70px;
  width: 150px;
  border-radius: 6px;
  margin-top: 500px;
  background-color: #070516;
  color: white;
  padding: 16px 32px;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.3s;
}

#rejouer:hover{
  cursor: pointer;
  opacity: 1;
}

.popUpScore{
  position: absolute;
  border: solid 3px rgb(19, 19, 19);
  height: 320px;
  width: 400px;
  border-radius: 6px;
  margin-left: 45px;
  margin-top: 285px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;

}

#continuer{
  border: none;
  height: 70px;
  width: 150px;
  border-radius: 6px;
  margin-top: 100px;
  background-color: #070516;
  color: white;
  padding: 16px 32px;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.3s;
  position: relative;
}

#continuer:hover{
  cursor: pointer;
  opacity: 1;
}

#compterPartie{
  padding-top: 50px;
}



@media query {

}
